[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
jupyter = "*"
tables = "*"

[dev-packages]
pylint = "*"
pydocstyle = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
